.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px; 
  }
  
  .search {
      width: 500px;
      display: flex;
      align-items: center;
    }
    
    .search input {
      width: 100%;
      display: block;
      background-color: var(--component-color);
      border: none;
      border-radius: 10px;
      color: var(--text-color);
      padding: 1.2rem;
      margin-bottom: 2rem;
      font-family: inherit;
      font-size: 1.2rem;
      box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
        0 15px 40px rgba(0, 0, 0, 0.1);
      outline:none;
    }
    
  .area-form input::placeholder {
      color: var(--text-color);
    }
    
    .area-form input:focus {
      outline: none;
    }
    
    .area {
      text-transform: uppercase;
      font-size: 45px;
      margin-bottom: 25px;
    }
    
    .area.hidden {
      display: none;
    }
    